.form_control{
    display: flex;
    flex-direction: column;
    margin-bottom: 1em
}

.form_control label{
    margin-bottom: 0.3em;
    font-weight: bold;
    font-size: .8em;
    color:#16479d ;
}

.form_control input{
    border: 1px solid #16479d;
    border-radius: 5px;
    padding: 0.7em;
    background-color: #eeff00;
}

.form_control input::placeholder{
    color: #16479d;
}